* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

section {
  width: 100%;
  height: 100%;
  background-color: gold;
  z-index: 0;
}

section .container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section .container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5vh;
  background: goldenrod;
  z-index: 0;
}

section .container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 4%;
  cursor: pointer;
}

section .container .card .box {
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
  top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 2rem whitesmoke;
  border: 1px solid lightyellow;
  z-index: 1;
}

section .container .card .box .percent circle {
  transform: translateX(25%) translateY(3%);
  fill: none;
  stroke: rgba(255, 255, 255, 0.3);
  stroke-width: 10;
}

section .container .card .box .percent circle:nth-child(2) {
  stroke: aliceblue;
  stroke-dasharray: 440px;
  animation: strokeMove 0.4s linear forwards;
}

section .container .card .box .percent {
  position: relative;
  width: 100%;
  height: 100%;
}

section .container .card .box .percent .number {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container .card .box .percent .number h2 {
  font-size: 3rem;
  font-weight: 700;
}

section .container .card .box .percent .number span {
  font-size: 1.4rem;
  font-weight: 700;
}

section .container .card .text {
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border-radius: 0.4rem;
  position: relative;
  top: -1.2rem;
  width: fit-content;
  z-index: 0;
  transition: 0.4s;
  transform: translateY(0);
  animation: textMove2 0.4s linear forwards;
}

section .container .card:hover .text {
  animation: textMove 0.4s linear forwards;
  transition: 0.4s;
}

section .container .card:nth-child(1) .text {
  background: brown;
}

section .container .card:nth-child(2) .text {
  background: blue;
}

section .container .card:nth-child(3) .text {
  background: blueviolet;
}

@keyframes textMove {
  0% {
    z-index: 0;
    transform: translateY(0);
  }

  50% {
    z-index: 1;
    transform: translateY(60%);
  }

  100% {
    z-index: 1;
    transform: translatey(0);
  }
}

@keyframes textMove2 {
  0% {
    z-index: 1;
    transform: translateY(0);
  }

  50% {
    z-index: 1;
    transform: translateY(60%);
  }

  100% {
    z-index: 0;
    transform: translatey(0);
  }
}

@keyframes strokeMove {
  0% {
    stroke-dashoffset: 440px;
  }

  100% {
    stroke-dashoffset: calc(440px - (440px * var(--i)) / 100);
  }
}
