* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #091921;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: url(clock.png);
  background-size: cover;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 -15px 15px rgba(0, 0, 0, 0.3);
}

.centerDot {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.centerDot::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}

.hour {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotateZ(30deg); */
}

.hr {
  position: absolute;
  bottom: 50%;
  height: 90px;
  width: 7px;
  background-color: #ff105e;
}

.min {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotateZ(60deg); */
}

.mn {
  position: absolute;
  bottom: 50%;
  height: 110px;
  width: 3px;
  background-color: #fff;
}

.sec {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotateZ(280deg); */
}

.sc {
  position: absolute;
  bottom: 50%;
  height: 140px;
  width: 1px;
  background-color: #fff;
}
